7. xml/book.xsd

<?xml version ="1.0"?>

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema" >
    <xs:element name='books'>
        <xs:complexType>
            <xs:sequence>
                <xs:element name='book' type='bookType' minOccurs='0' maxOccurs='unbounded'/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name='id' type='xs:string'/>
    </xs:complexType>
</xs:schema>